.content-div img {
  height: 500px;
  width: 500px;
}

.content-top {
  width: 50%;
  margin: 2% auto;
  background-color: rgb(132, 136, 139);
  display: flex;
  width: 60%;
  gap: 80px;
  justify-content: flex-start;
}

.content-top img {
  max-height: 270px;
  max-width: 270px;
}

.content-top div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-weight: bold;
}
h2,
.bold {
  font-family: cursive;
}

.content-top h2,
.content-top p {
  padding-top: 10px;
}

.content-mid {
  margin-left: 2%;
}

.content-mid p {
  padding: 5px 0px;
}

.content-mid-parent {
  background-color: rosybrown;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
}

/* .content-bottom {
  width: 90%;
  border: solid black;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
} */

.content-bottom p {
  padding: 10px 0;
}
